<!DOCTYPE html>
<html>
<head>
  <title>ChefQueryTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Chef API Demo Query</a>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
